// =============================================================================
// CONTAINERS
// =============================================================================

@use '../abstracts/variables' as vars;
@use '../abstracts/mixins' as mix;

// Base container
// -----------------------------------------------------------------------------
.container {
  position: relative;
  width: 92%;
  margin: auto;
  
  @include mix.desktop-up {
    max-width: 75rem;
  }
}



// Section wrapper
// -----------------------------------------------------------------------------
.section {
  padding: vars.$section-padding;
  position: relative;
} 